# Frontend app
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_SITE_URL=https://my-nest-project-pearl.vercel.app/

# CDN
# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your-cloud-name

# Auth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

# Logging
NEXT_PUBLIC_LOG_LEVEL=info
